
<mat-sidenav-container>
  <mat-sidenav 
  #sidenav 
  position="end"
  class="col-6 col-md-4 col-lg-2"
  style="position: fixed; height: 100vh; z-index: 99999;"
  mode="over" closed>
    <app-side-navbar></app-side-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="position-relative">
      <header id="home" class="position-relative mb-2" >
        <nav class="navbar-pos w-100">
          <app-navbar [sidenav]="sidenav"></app-navbar>
        </nav>
      
        <div class="header-pos">
          <app-header-section></app-header-section>
        </div>
      </header>
      
      <main class="container-fluid position-relative my-2">
        <section class="my-2 inner-pos inner-pos__about" id="about">
          <app-about-section ></app-about-section>
        </section>
      
        <section class="mb-2 inner-pos"id="skill">
          <app-skill-section></app-skill-section>
        </section>
      
        <section class="mb-2 inner-pos" id="project">
          <app-project-section ></app-project-section>
        </section>
      </main>
      
      <footer class="mt-4" id="contact">
        <app-footer></app-footer>
      </footer>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
